# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
coverage.xml

# Pytest cache
.pytest_cache/

# Editor directories and files
.vscode/
.idea/

# Environment variables
.env
.env.*

# SQLite DB
*.db
dev.db
